 <nav class="navbar navbar-light bg-light justify-content-between sticky-top">
     <%= link_to "Simple Airbnb", flats_path, class: "text-dark h4"  %>
    <form class="form-inline">
    <%= link_to "Add Flat", new_flat_path, class: "btn btn-outline-success my-2 my-sm-0"  %>
      
    </form>
  </nav>